beautifulsoup4==4.6.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.0.2
future==0.18.2
gunicorn==19.9.0
idna==2.10
imgurpython==1.1.7
itsdangerous==1.1.0
Jinja2==2.11.3
line-bot-sdk==1.8.0
MarkupSafe==1.1.1
requests==2.25.1
urllib3==1.26.4
Werkzeug==1.0.1

# pip3 freeze > requirements.txt